* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #00bfa6, #00796b);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.checkmark {
    font-size: 4rem;
    color: #FF6347;;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #FF6347;;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #FF6347;;
    color: #fff;
}

a {
    text-decoration: none;
    color: #FF6347;
}