* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    padding: 40px;
    text-align: center;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#000000;
}

.info p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.info strong {
    font-size: 1.5rem;
    color:#FF6347;;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


label {
    font-weight: bold;
    color: #555;
    margin-top: 10px;
    text-align: left;
    display: block;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}


.payment-options {
    text-align: left;
}


.payment-options label {
    margin-left: 20px;
    font-size: 1rem;
    color: #333;
}


.submit-btn {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.submit-btn:hover {
    background-color: #a52d18;;
}

a {
    text-decoration: none;
    color: white
}

#cartao-credito-info,
#cartao-debito-info {
    display: none;
    margin-top: 10px;
    text-align: left;
}


input[type="text"], 
input[type="number"] {
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color:#FF6347;
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .submit-btn {
        font-size: 1rem;
        padding: 12px;
    }
}